.comment-form {
  margin-bottom: 2rem;
}

.comment-form textarea {
  width: 100%;
  height: 100px;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  resize: vertical;
  font-size: 1rem;
  line-height: 1.5;
}

.profile-image {
  width: 40px;      
  height: 40px;       
  border-radius: 50%;
  object-fit: cover;
}

.comment-form textarea:focus {
  outline: none;
  border-color: #666;
}

/* 5. 댓글 목록 */
.comments {
  margin-top: 2rem;
}

.comment {
  display: flex;
  gap: 1rem;
  margin-bottom: 1.5rem;
  padding-bottom: 1.5rem;
}

.comment-avatar {
  font-size: 2rem;
  color: #666;
}

.comment-content {
  flex: 1;
}

.comment-header {
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.comment-author {
  font-weight: 600;
  font-size: 23px;
  margin-left: 10px;
}

.comment-date {
  color: #666;
  font-size: 0.9rem;
}
.comment-footer{
  display: flex;
  justify-content: space-between;
}
.comment-footer > p{
  font-size: 20px;
  margin: 0;
  line-height: 1.6;
  padding-top: 1rem;
}
.comment-delete {
  background: none;
  border: none;
  color: #666;
  font-size: 14px;
  cursor: pointer;
  text-decoration: underline;
  user-select: text; 
}