.search-results {
  background-color: rgb(248, 249, 250);
  min-height: 100vh;
}
.search-result-item{
  padding-bottom: 4rem;
  line-height: 1.5;
}

.search-message {
  margin: 1.125rem 0 4rem 0;
  font-size: 1.125rem;
  color: #495057;
}

.search-message strong {
  font-weight: bold;
  color: black;
}
.search-result-divider{
  height: 1px;
  background-color: rgb(220, 220, 220);
  margin-top: 2.5rem;
}

.no-results {
  margin: 18px 0 64px 0;
  font-size: 1.125rem;
  color: #495057;
}

@media (max-width:768px){
  .search-result-item{
    padding-bottom: 2rem;
  }
  .search-message{
    margin: 1rem 0 1rem 0;
    font-size: 1rem;
  }

  .search-result-divider{
    margin-top: 1.5rem;
  }
}