.auth-form-container{
  width: inherit;
  height: inherit;
}
.auth-form-container > form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.auth-form-container > form > div:first-child{
  margin-top: 15px;
}
.auth-form-container > form > div:not(:last-child){
  height: 55px;
}
.auth-form-container > form > div:last-child{
  margin-bottom: 15px;
}