/* 1rem은 보통 16px, 즉 1.5rem이면 약 24px 정도 여백 */

.main-content{
    /* max-width: 768px; */
    margin: 0 auto;
}
.search-wrap{
    background-color: rgb(248, 249, 250);
    min-height: 100vh;
}
.search-container{
    padding-top: 3.5rem;
    transition: margin 0.3s ease;
    display: flex;
    justify-content: center;
}
.search-bar{
    max-width: 768px;
    width: 70%;
    padding: 0 1.5rem;
    justify-content: space-between;
    position: relative;
    border: 1px solid #adb5bd;
    cursor: text;
}
.search-input{
    flex: 1; /*남은 공간 모두 차지 */
    padding: 1rem 1.5rem 1rem 4.5rem;
    font-size: 1.5rem;
    height: 4rem;
    border: none;
    color: #adb5bd;
    background-color: inherit;
    /* 창 크기 줄어들 때 자동 리사징 */
    transition: height 0.3s ease, font-size 0.3s ease, padding 0.3s;
}
.search-input:focus{
    color: #000;
    outline: none;
}
.search-input:not(:focus){
    color: #495057;
}
.search-icon{
    /* 부모 요소에 position: relative;가 있어야 absolute 정상 작동  */
    position: absolute;
    left: 1.5rem;
    /* 아래 두개를 쓰면 수직 중앙 정렬 가능 */
    top: 50%;
    transform: translateY(-50%);
    /* 아이콘 클릭이벤트 방지 */
    pointer-events: none;
}
@media (max-width:1024px) {
    .search-container{
        margin-top: 2rem;
    }
}
@media (max-width:768px) {
    .search-container{
        margin-top: 1rem;
        padding: 0 1rem;
    }
    .search-results{
        padding: 0 1rem;
    }

    .search-input{
        height: 2rem;
        font-size: 1.1rem;
        padding: 0 1rem;
    }

    .search-icon{
        left: 0.8rem;
    }
}
.search-result{
    width: 60%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}