.toastui-editor-defaultUI {
    background-color: transparent;
    border: none;
    box-shadow: none;
    font-size: inherit;
}

.toastui-editor-defaultUI-toolbar {
    background-color: white;
    border: none;
}

.markdown-body {
    background-color: transparent;
    padding: 0;
    margin: 0;
    box-shadow: none;
    border: none;
}

.toastui-editor-contents,
.markdown-body {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Apple SD Gothic Neo",
               "Malgun Gothic", "맑은 고딕", "Nanum Gothic", "Noto Sans KR", "Noto Sans CJK KR",
               arial, 돋움, Dotum, Tahoma, Geneva, sans-serif !important;
  font-size: 18px;
  line-height: 1.7;
}

/* 기울임체 적용안되서 CSS로 적용 */
.markdown-body em,
.markdown-body i {
    font-style: italic;
}

/* 이미지탭 누를시 FILES부분 색 지정 */
.toastui-editor-popup-add-image .toastui-editor-tabs .tab-item.active {
    color: #12b886;
    border-bottom: 2px solid #12b886;
}

/* 이미지, 링크탭 누를시 버튼 색 지정 */
.toastui-editor-defaultUI .toastui-editor-ok-button {
    min-width: 63px;
    height: 32px;
    background-color: #12b886;
    color: #fff;
    outline-color: #12b886;
}

.editor-container {
    position: relative;
}

.editor-placeholder {
    position: absolute;
    top: 61px;
    left: 30px;
    color: #aaa;
    font-size: 16px;
    pointer-events: none;
    z-index: 5;
}

/* 에디터 입력창 폰트 크기 */
.toastui-editor .toastui-editor-md-container .toastui-editor-contents {
    font-size: 18px !important;
    line-height: 1.7 !important;
}

.ProseMirror {
    Margin-left: 1rem;
}

/* ProseMirror 내부 입력 텍스트 */
.toastui-editor .ProseMirror {
    font-size: 18px !important;
    line-height: 1.7 !important;
}
  
  /* 렌더링된 HTML (오른쪽) */
.markdown-body {
    font-size: 18px !important;
    line-height: 1.7 !important;
}

.toastui-editor-md-tab-container {
    display: none;
}

.toastui-editor-tabs {
    display: none;
}
  