.editor-wrapper {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    overflow: hidden;
}

/* 왼쪽 입력 영역 */
.editor-left {
    flex: 1;
    background-color: white;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

/* 오른쪽 입력 영역 */
.editor-right {
    flex: 1;
    padding-top: 6rem;
    padding-left: 3rem;
    background-color: rgb(248, 249, 250);
    overflow-y: auto;
}

.editor-right h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 20px;
}

@media screen and (max-width: 1040px) {
    .editor-wrapper {
      flex-direction: column;
    }
  
    .editor-left {
      width: 100%;
      /* padding: 1.5rem; */
    }
  
    .editor-right {
      display: none;
    }
}
  
/* 제목 입력창 영역 */
.editor-title {
    width: 100%;
    box-sizing: border-box;
    font-size: 2.8rem;
    font-weight: bold;
    border: none;
    padding: 2rem;
    padding-bottom: 1.7rem;
    margin-bottom: 1rem;
    outline: none;
    background-color: transparent;
}

.editor-title::placeholder {
    color: grey;
    opacity: 1;
}

.editor-title-underline {
    width: 375px;
    height: 2px;
    background-color: darkslategray;
    margin: 2rem;
    margin-top: -1.5rem;
    margin-bottom: 1.5rem;
}

/* 본문 입력창 영역 */
.editor-content {
    border: none;         
    resize: none;              
    outline: none;          
    width: 100%;               
    height: 100%; 
    min-height: 640px;
    padding: 1rem 2rem;
    outline: none;
    white-space: pre-wrap;
    word-break: break-word;
    font-family: inherit;
    font-size: 1rem;
}

.editor-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    padding: 0.7rem;
    box-shadow: 0px -3px 4px rgba(0, 0, 0, 0.06);
    background-color: white;
    position: sticky;
    bottom: 0;
    z-index: 10;
}

.editor-buttons {
    display: flex;
}

.editor-footer button {
    padding: 0.5rem 1.2rem;
    font-size: 1.1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

.btn-save {
    background-color: white;
    color: #12b886;
}

.btn-save:hover {
    background-color: rgb(245, 242, 242);
}

.btn-submit {
    margin-left: 1rem;
    background-color: #12b886;
    color: white;
  }
.btn-submit:hover {
    background-color: #1bc592;
}

.editor-exit {
    padding: 0.5rem 1.2rem;
    font-size: 1.1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.editor-exit:hover {
    background-color: rgb(245, 242, 242);
}

