.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
  background-color: rgb(248, 249, 250);
  color:black;
  max-width: 100%;
  box-sizing: border-box;
  margin-bottom: -8px;
  padding-top: clamp(1rem, 1vw, 1rem);
  padding-left: clamp(1rem, 4.5vw, 8rem);
  padding-right: clamp(1rem, 4.5vw, 8rem);
}
.header-titie{
  font-weight: bold;
  font-size: 1.5em;
}
.header-titie-author{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.5);
}
.header-buttons{
  display: flex;
  gap: 10px;
  overflow: hidden;
}
  
.login-btn{
display: flex;
align-items: center;
justify-content: center;
background-color: #ffff;
color: rebeccapurple;
border-radius: 8px;
cursor: pointer;

}
.pageadd-btn{

display: flex;
align-items: center;
justify-content: center;
background-color: #ffff;
color: rebeccapurple;
cursor: pointer;
border-radius: 8px;
cursor: pointer;

}
.seach-icon {
  font-size: 30px;
  cursor: pointer;
  justify-items: right;
  gap: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.search-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: inline-flex;  /* 아이콘이 가운데 정렬되도록 설정 */
  justify-content: center;
  align-items: center;
  font-size: 22px;
}


.user-icon{
  font-size: 30px;
  cursor: pointer;
  gap: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}