.search-post-card {
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
  padding-top: 0;
  line-height: 1.5;
  box-sizing: border-box;
}

.search-post-user-info{
  display: flex;
  align-items: center;
}
.search-post-img{
  width: 100%;
  max-height: 300px;
  overflow: hidden;
  object-fit:cover;
}
.search-post-thumbnail {
  /* max-width: 100%; */
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

.search-post-content {
  padding: 1rem 0 1rem 0;
}

.search-post-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0 0 0.5rem 0;
  color: #212529;
}

.search-post-likes {
  font-size: 0.9rem;
  color: #868e96;
  display: flex;
  align-items: center;
  gap: 0.3rem;
}
.search-post-excerpt{
  word-break: break-word;
  overflow-wrap: break-word;
  white-space: normal; /* 줄바꿈 */
  line-height: 1.6;
  margin-bottom: 2rem;
  margin-top: 0.5rem;
  font-size: 1rem;
  color: #495057;
  /* word-break: keep-all; */
  /* -webkit-line-clamp: 4; 줄 수 제한 */
}

.search-post-meta {
  font-size: 0.85rem;
  color: #868e96;
  margin-top: 0.3rem;
}

@media (max-width:768px) {
  .search-post-title{
    font-size: 1rem;
  }
  .search-post-excerpt{
    font-size: 0.875rem;
    margin-bottom: 1.5rem;
  }
  .search-post-meta{
    font-size: 0.75rem;
  }
  .search-post-card{
    font-size: 1rem;
  }
  .search-post-img{
    max-height: 200px;
  }
}

