
.post-detail{
  background-color: rgb(248, 249, 250) ;
}
.post-detail-content{
  font-size: 2.25rem;
  line-height: 1.5;
  letter-spacing: -0.004em;
  margin-top: 0;
  font-weight: 800;
  color: black;
  text-align: center;
  background-color: rgb(248, 249, 250) ;
  
}
.post-information{
  text-align: center;
  
  
}
.username{
  text-align: left;

  
}

.user-info{
  display: flex;
  

  width: 100%;
  
}
.flow-btn{
  position: fixed;
  
  left: 65%;
  padding: 2px 3px;
  border: none;
  border-radius: 8px;
  background-color: #fff;
  cursor: pointer;
  justify-content: space-between;


}
.heart-btn{
  left: 82%;
  position: fixed;
  
  justify-items: right;
  padding: 2px 3px;
  border: none;
  border-radius: 8px;
  background-color: #fff;
  cursor: pointer;
}


.btn-icon-panel{
  
  background-color: #f8f9fa;
  border-radius: 30px;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  
  
  left: 30px;
  position: fixed;
}
.btn-icon-Wrapper{
  background-color: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  cursor: pointer;
  
  box-shadow: 0 0 4px rgba(0,0,0,0.1);
}
.btn-icon{
  clear: #6c757d;
  font-size: 10px;
}
.btn-icon-count{
  font-size: 14px;
  color: #333;
}
.body-cord{
  background-color: white;
  border-radius: 20px;
  padding: 40px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.cord-area{
  display: flex;

  justify-content: center;
  align-items: center;
  min-height:auto;
  background-color: #f8f8ff;
}

.image-wrapper{ /*div*/
  display:flex ;
  justify-content: center; 
  align-items: center;     
  margin:auto;
  padding: 40px 0;
}

.read-img1{  /*img*/
  display: flex;
  width: 600px;
  justify-content: center; 
  align-items: center;    
  height: 500px;
  border-radius: 12px;
  left: 50%;
}

