.postcard-card{ 
  background-color: #fff;
  height: 380px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.postcard-card > .postcard-header{
  height: 180px;
}

.postcard-card > .postcard-header > .postcard-img{
  height: inherit;
  width: 100%;
  object-fit:cover;
}

.postcard-card > .postcard-main{
  height: 160px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
}

.postcard-card > .postcard-main > .postcard-title{
  font-weight: 1000;
  font-size: 16px;
}

.postcard-card > .postcard-main > .postcard-date{
  font-size: 12px;
  color: #999;
}

.postcard-card > .postcard-footer{
  padding: 0 13px;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.postcard-card > .postcard-footer > .postcard-like {
  display: flex;
  font-size: 12px;
  gap: 5px;
}
.postcard-card > .postcard-footer > .postcard-child{
  height: inherit;
}