/* postspage */
.postspage-container{
  width: inherit;
}
.postspage-container > .postspage-header{
  margin-top: 50px;
  
}
.postspage-container > .postspage-header > .postspage-search-box{
  width: 210px;
  height: 40px;
  border: 1px solid #bbb;
  display: flex;
  align-items: center;
}
.postspage-container > .postspage-header > .postspage-search-box > div{
  margin-left: 10px;
  display: flex;
  justify-content: center;
  color: #999;
}
.postspage-container > .postspage-header > .postspage-search-box > input{
  width: 200px;
  border: none;
  background-color: transparent;
  margin-left: 5px;
}
#postspage-focus{
  border-color: black;
}
.postspage-container > .postspage-main{
  display: flex;
  flex-direction: column;
}
.postspage-container > .postspage-worng >img{
  margin:10% 0;
  width: 100%;
}
.postspage-container > .postspage-button{
  height: 60px;
  width: 100%;
  border: none;
  background-color: white;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 40px;
}
.postspage-container > .postspage-button:hover{
  background-color: #f3f3f3;
  border-radius: 0 0 10px 10px;
}