.post-list-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(315px, 1fr));
    gap: 24px;
    max-width: 1780px;
    margin: 0 auto;
    padding: 40px;
    box-sizing: border-box;
    min-height: 100vh;
    align-items: start;
}

.app-container {
    /* background-color: rgb(248, 249, 250); */
} 