.content-wrapper {
    background-color: rgb(248, 249, 250);
    padding-left: clamp(1rem, calc((100vw - 1200px) / 2 + 80px),15rem);
    padding-right: clamp(1rem, calc((100vw - 1200px) / 2 + 80px),15rem);
    padding-bottom: 25px;
} 


